<div class="header bg-gradient-danger pb-8 pt-5 pt-md-7">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0 row">
                    <div class="col-xl-9 col-lg-9">
                        <h3 class="text-white mb-0">Patient Data</h3>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input id="myInput" class="form-control" placeholder="Search" type="text" (focus)="focus = true" (keyup)="myFunction()"
                                        (blur)="focus = false">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush" id="myTable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">City</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Date</th>
                                <th scope="col">ID</th>
                                <th scope="col">Height</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Age</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of patientsData | slice: (page-1) * pageSize : page * pageSize">
                                <td>{{p.name}}</td>
                                <td>{{p.city}}</td>
                                <td>{{p.phone_number}}</td>
                                <td>{{p.date}}</td>
                                <td>{{p.id}}</td>
                                <td>{{p.height}}</td>
                                <td>{{p.weight}}</td>
                                <td>{{p.age}}</td>
                                <td class="">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)"
                                                (click)="viewPrediction(content,p)">View Prediction</a>
                                                <a class="dropdown-item" href="javascript:void(0)"
                                                (click)="viewHistory(historycontent,p)">View History</a>
                                            <a class=" dropdown-item" href="javascript:void(0)">Setup an
                                                appointment</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4 bg-default">
                    <ngb-pagination class="d-flex justify-content-end" [(page)]="page" [(pageSize)]="pageSize"
                        [(collectionSize)]="patientsData.length" [maxSize]="5" [boundaryLinks]="true">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Prediction Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <span>Name: {{selectedRow.name}}</span><br />
        <span>Prescribed Drugs: {{selectedRow.prescribedDrugs}}</span><br />
        <span>Cancer Stage: {{selectedRow.cancerStage}}</span><br />
        <span>Prediction: {{predictionData.prediction}}</span><br />
        <span>Probability: {{predictionData.probability}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #historycontent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Patient History</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 400px;overflow: auto;">
         <div *ngFor="let d of historyData" class="card bg-default shadow p-2 text-white mb-1">
            Patient Name: {{d.name}} <br />
            Date: {{d.date}} <br />
            Blood Pressure (Diastolic): {{d.bp_diast}}mm/Hg <br />
            Blood Pressure (Systolic): {{d.bp_systolic}}mm/Hg <br />
            Double Lung Infection: {{d.double_lung_infection}} <br />
            Stage: {{d.stage}} <br />
            Tumor Size: {{d.tumor_size}} <br />
            Body Temperature: {{d.temperature}} <br />
            Drug: {{d.drug}} 
        </div> 
        <!-- <div class="card bg-default shadow p-2 text-white mb-1">
            Patient Name: Jack <br />
            Date: 12th Dec, 2021 <br />
            Weight: 65kg <br />
            Blood Pressure: 80-128mm/Hg <br />
            Diagnosis: Lung Cancer <br />
            Doctor Notes: Test 
        </div>
        <div class="card bg-default shadow p-2 text-white  mb-1">
            Patient Name: Jack <br />
            Date: 12th Dec, 2021 <br />
            Weight: 65kg <br />
            Blood Pressure: 80-128mm/Hg <br />
            Diagnosis: Lung Cancer <br />
            Doctor Notes: Test 
        </div>
        <div class="card bg-default shadow p-2 text-white mb-1">
            Patient Name: Jack <br />
            Date: 12th Dec, 2021 <br />
            Weight: 65kg <br />
            Blood Pressure: 80-128mm/Hg <br />
            Diagnosis: Lung Cancer <br />
            Doctor Notes: Test 
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>